body {
  max-width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 0px;
  grid-column-gap: 40px;
  position: relative;
  margin: 0 auto;
  width: 70%;
}


.container2 {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 0px;
  grid-column-gap: 40px;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .center {
    border-radius: 10px;
    width: 25%;
    height: 25%;
  }
  .center2 {
    border-radius: 10px;
    width: 25%;
  }
}


.wave {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wrapper {
  display: grid;
}

.nav_opt {
  font-weight: bold;
  font-family: 'Muli';
  text-decoration: none;
  font-size: 16px;
  padding-right: 16px;
  float: right;
  color: #363d45;
  opacity: 75%;
}

.name {
  text-align: left;
  padding-top: 40px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Muli';
  color: #363d45;
  text-decoration: none;
}

.minidesc {
  text-align: left;
  font-size: 16px;
  font-family: 'Muli';
  color: #363d45;
  padding-left: 8%;
  padding-bottom: 80px;
  margin-top: 10px;
}

.desc {
  padding-top: 80px;
  padding-left: 8%;
  font-weight: bold;
  font-size: 34px;
  font-family: 'Muli';
  color: #363d45;
  margin: 0;
}

.container > div {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 16px;
  color: #363d45;
  font-family: 'Muli';
}
.container2 > div {
  display: block;
  font-family: 'Muli';
}

.center {
  float: left;
  border-radius: 10px;
  width: 50%;
}

.center2 {
  border-radius: 10px;
  width: 168px;
  float: left;
  padding: 50px;
}

@media screen and (max-width: 1024px) {
  .center2 {
    float: left;
    width: 100%;
  }
}
.button {
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Muli';
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #363d45;
  border: 1px solid #363d45;
  border-radius: 3px;
}

.button1:hover {
  color: white;
  background-color: #363d45;
}

.overlay {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Muli';
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
