body {
  max-width:85%;
  margin: auto;
  padding-bottom: 40px;
}

hr { 
  display: block; 
border-style: inset; border-width: 1px;}

.container {
  width: 80%;
  line-height: 60px;
  color: #1C1D21

}

.row {
  display: flex;
  padding-bottom: 5%;
  overflow-x: hidden;
}

.column {
  width: 50%;
}

.column2 {
  width: 100%;
}

.column3 {
  width: 40%;
}

.column4 {
  width: 50%;
}

.left{
  padding-right: 5%;

}

.right{
  padding-left: 5%;
}

.right2{
  padding-left: 4%;
}



.container2 {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 0px;
  grid-column-gap: 40px;
  position: relative;
  margin: 0 auto;
  width: 70%;
}




.wave {
  animation-name: wave-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wrapper {
  display: grid;
}


.bar {
  padding-top: 40px;
  padding-top: 5%;
}

.nav_opt {
  font-family: 'Open Sans';
  text-decoration: none;
  font-size: 16px;
  padding-right: 16px;
  float: right;
  color: #1C1D21;
  opacity: 60%;
}

.active {
  opacity: 100%;
  font-weight: bold;
}

.name {
  padding-top: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Playfair Display';
  color: #1C1D21;
  text-decoration: none;
}

.minidesc2 {
  font-size: 45px;
  font-family: 'Playfair Display';
  color: #1C1D21;
  padding-bottom: 50px;
  margin: 0;
}

.minidesc3 {
  font-size: 40px;
  font-family: 'Playfair Display';
  color: #1C1D21;
  margin: 0;
  text-decoration: none;
  transition-duration: 0.2s;
}

.desc {
  padding-top: 80px;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
  color: black;
  margin: 0;
}

h2 {
  font-family: 'Open Sans';
  color: black;
  font-size: 35px
}

h3 {
  font-family: 'Open Sans';
  color: black;
  font-weight: bold; 
  font-size: 34px
}

h4 {
  font-family: 'Open Sans';
  color: black;
  font-size: 21px
}

li {
  font-family: 'Open Sans';
  line-height: 30px; 
  margin: 0;
}

p {
  font-family: 'Open Sans';
  color: black;
  font-size: 16px
}

.writeup {
  font-size: 16px;
  color: black;
  font-family: 'Open Sans';
}


.container > div {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 16px;
  color: black;
  font-family: 'Open Sans';
}
.container2 > div {
  display: block;
  font-family: 'Open Sans';
}

.center {
  padding-bottom: 20px;
  width: 100%;
}

.center3 {
  width: 190%;
  float: left;
}

.center2 {
  border-radius: 10px;
  width: 168px;
  float: left;
  padding: 50px;
}

.button {
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Open Sans';
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #363d45;
  border: 1px solid #363d45;
  border-radius: 3px;
}

.button1:hover {
  color: white;
  background-color: #363d45;
}

.minidesc3:hover {
  font-size: 45;
}

.overlay {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Open Sans';
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
